{% extends 'layout.html' %}

{% block conteudo %}
<div class="container">
    <br>
    <h2>Produtos Vendidos</h2>
    <br>
    <div class="row">
        <div class="col-md-8">
            <canvas id="produtosChart"></canvas>
        </div>
        
        <div class="col-md-4">
            <h3>Alertas</h3>
            <div class="alert alert-info" role="alert">
                <strong>Informativo!</strong> Nova venda registrada.
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var produtosNomes = {{ produtos_nomes|safe }};
    var produtosQuantidade = {{ produtos_quantidade|safe }};

    var ctx = document.getElementById('produtosChart').getContext('2d');
    var produtosChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: produtosNomes, 
            datasets: [{
                label: 'Produtos Vendidos',
                data: produtosQuantidade,  
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
