{% extends 'app_estoque/layout/layout_user.html' %}
{% block conteudo %}   
    
<form action="{% url 'app_login' %}" method="post">
    {% csrf_token %}
    <div class="tela-login">
        <h1>Login</h1>
        <input type="text" name="nome" placeholder="Nome">
        <br><br>
        <input type="password" name="senha" placeholder="Senha">
        <br><br>
        <button type="submit">Enviar</button>
        <br>
        <br>
        <a href="{% url 'register' %}">Cadastre-se!</a>
    </div>
</form>

{% endblock %}