{% extends 'layout/layout_user.html' %}
{% block conteudo %}

<form action="{% url 'criar_user' %}" method="post">
    {% csrf_token %}
    <div class="tela-login">
        <h1>Cadastro</h1>
        <input type="text" placeholder="Nome" name="nome">
        <br><br>
        <input type="text" placeholder="email" name="email">
        <br><br>
        <input type="password" placeholder="Senha" name="senha">
        <br><br>
        <input type="text" placeholder="chave de acesso" name="chave_acesso">
        <br><br>
        <button type="submit">Enviar</button>
    </div>
</form>

{% endblock %}