{% extends 'layout/layout.html' %}
{% block conteudo %}

<div style="text-align: center;" class="container">
    <h1>Todos os produtos:</h1>
</div>
<div class="container">
    {% csrf_token %}
    <table class="table table-bordered table-striped">
        <tr>
            <th class="centralizar">ID</th>
            <th class="centralizar">Nome</th>
            <th class="centralizar">Categoria</th>
            <th class="centralizar">Quantidade</th>
            <th class="centralizar">Preço (R$)</th>
            <th class="centralizar">Função</th>
        </tr>
    {% for produto in produtos %}
        <tr>
            <td class="centralizar">{{ produto.id_produto }}</td>
            <td class="centralizar">{{ produto.nome }}</td>
            <td class="centralizar">{{ produto.categoria }}</td>
            <td class="centralizar">{{ produto.quantidade }}</td>
            <td class="centralizar">{{ produto.preco }}</td>
            <td>
                <div class="centralizar">
                    <a class='semSublinhado' href="{% url 'deletar_produto' produto.id_produto %}">
                        <button type='button' class="botaoExcluir">Deletar</button>
                    </a>

                    <a class="semSublinhado" href="{% url 'editar_produto' produto.id_produto %}">
                        <button type='button' class="botaoEditar">Editar</button>
                    </a> 
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}