{% extends 'layout.html' %}

{% load widget_tweaks %}

{% block conteudo %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 sidebar" style="background-color: rgb(13, 12, 12);">
        <h2>Adicionar Fornecedor:</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-group{% if field.errors %} has-error {% endif %}">
                    <label for="{{ field.id_for_label }}">
                        {% if field.field.required %}
                            <span class="required">{{ field.label }} *</span>
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-primary">
                    {% if editar %}Salvar Alterações{% else %}Cadastrar{% endif %}
                </button>
                <a href="{% url 'fornecedores:fornecedor' %}" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock conteudo %}

{% block css %}
<style>
    .sidebar {
        margin-top: 10px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
</style>
{% endblock css %}