{% extends 'layout/layout.html' %}
{% block conteudo %}
{% load static %}

      <form id="formCadastro" name="formCadastro" action="{% url 'criar_produtos' %}" method="POST">
        {% csrf_token %}
        <div style="text-align: center;" class="container">
            <h1>Cadastro de produtos:</h1>
            <input class="form-control-sm" type="text" placeholder="Nome" name="nome" required>
            <input class="form-control-sm" type="text" placeholder="Categoria" name="categoria" required>
            <input class="form-control-sm" type="number" placeholder="Quantidade" name="quantidade" required>
            <input class="form-control-sm" type="float" placeholder="Preco" name="preco" required>
            <a href="{% url 'listagem_produtos' %}">
                <button type="submit" class="botaoEnviar">Enviar</button>
            </a>
        </div>
      </form>
      <p></p>
      <div class="container">
        <table class="table table-bordered table-striped">
          <h3 style="text-align: center;" class="container">Últimos produtos adicionados:</h3> 
            <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>categoria</th>
                    <th>quantidade</th>
                    <th>preco (R$)</th>
                </tr>
            <tbody id="produtosTableBody">
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id_produto }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.categoria }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.preco }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}