{% extends 'layout.html' %}

{% load widget_tweaks %}

{% block conteudo %}

{% block css %}
<style>
    span.required:after {
        content: "*";
        color: red;
    }
</style>
{% endblock css %}

<form method="post" novalidate>
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error {% endif %}">
            {% if field.name == 'importado' %}
                
            {% else %}
                <label for="{{ field.id_for_label }}">
                    {% if field.field.required %}
                        <span class="required">{{ field.label }} </span>
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </label>
                {% render_field field class="form-control" %}
            {% endif %}
            {% for error in field.errors %}
                <span class="text-muted">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% block js %}
<script>
    $('#id_importado').removeClass('form-control').addClass('form-check-input');
</script>
{% endblock js %}

{% endblock conteudo %}
