{% extends 'layout.html' %}

{% load widget_tweaks %}

{% block conteudo %}
<div class="container sidebar col-md-6" style="background-color: rgb(13, 12, 12);">
    <h2>Adicionar Produto:</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="row form-group{% if field.errors %} has-error {% endif %}">
                <label for="{{ field.id_for_label }}">
                    {% if field.field.required %}
                        <span class="required">{{ field.label }} </span>
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </label>
                {% render_field field class="form-control" %}
            {% for error in field.errors %}
                <span class="text-muted">{{ error }}</span>
            {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% endblock conteudo %}

{% block css %}
<style>
    .sidebar {
        margin-top: 10px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
    span.required:after {
        content: "*";
        color: red;
    }
</style>
{% endblock css %}

{% block js %}
<script>
    $('#id_importado').removeClass('form-control').addClass('form-check-input');
</script>
{% endblock js %}

