{% extends 'layout.html' %}

{% block conteudo %}

<div class="container" style="margin-top: 5px;">
    <div class="container">
      <a href="{% url 'estoque:estoque_entrada_list' %}">
        <button type="button" class="btn btn-primary">
          Voltar
        </button>
      </a>
      <br>
      <br>
      <h1>{{ object }}</h1>
      <br>
      <div class="col-sm-6 mx-auto">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <th class="text-right">Nota Fiscal</th>
                    <td>{{ object.nf_formated }}</td>
                </tr>
                <tr>
                    <th class="text-right">Data</th>
                    <td>{{ object.created }}</td>
                </tr>
                <tr>
                    <th class="text-right">Funcionario</th>
                    <td>{{ object.funcionario }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-sm-s table-striped">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object.estoques.all %}
                <tr>
                    <td>{{ object.produto }}</td>
                    <td>{{ object.quantidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

</div>

{% endblock %}
