{% extends 'layout.html' %}

{% block conteudo %}
<div class="container sidebar" style="background-color: rgb(13, 12, 12);">
    <h2>Saida do Estoque:
    <span class="pull-right">
        <a href="{% url 'estoque:estoque_saida_add' %}">
            <button type="button" class="btn btn-primary">
                <span class="fa fa-plus"></span>Adicionar
            </button>
        </a>
    </span>
    </h2>

    {% if object_list %}
    <table class="table table-striped">
        <thead style="text-align: center; color: white;">
            <tr>
                <th>Nf</th>
                <th>Data</th>
                <th>Funcionario</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {% for object in object_list %}
            <tr>
                <td style="color: white;"><a href="{% url 'estoque:estoque_saida_detail' object.id %}">{{ object.nf_formated }}</a></td>
                <td style="color: white;">{{ object.created }}</td>
                <td style="color: white;">{{ object.funcionario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="alert alert-warning">Sem itens na lista</p>
    {% endif %}
</div>
{% endblock conteudo %}

{% block css %}
<style>
    .sidebar {
        margin-top: 10px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
</style>
{% endblock css %}