{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block css %}

  <style>
    .form-control {
      margin: 10px;
    }
  </style>

{% endblock css %}

{% block conteudo %}
<div class="container">
    <div id="error-message" class="alert alert-danger" style="display: none;">
        <strong>Erro:</strong> Não foi possível adicionar o item. Verifique os campos.
    </div>

    <form method="POST" novalidate>
        {% csrf_token %}
        <legend>Estoque Entrada</legend>

        <div>
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}
            
            {{ formset.management_form }}
        
        </div>

        <div class="row">
            <div class="col-sm-12">
              <legend style="border-bottom: 1px solid #e5e5e5;">Produtos</legend>
              <div id="estoque" class="form-inline">
                {% for item_estoque_form in formset %}
                <div id="item-{{ forloop.counter0 }}" class="form-group">
                </div>
                {{ item_estoque_form|bootstrap }}
                {% endfor %}
            </div>
            <span id="add-item" class="btn btn-info" style="margin-top: 10px;">
              <i class="fa fa-plus"></i> Adicionar
            </span>
            </div>
          </div>

        <div style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'estoque:estoque_entrada_list' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>

{% endblock conteudo %}

{% block js %}
<script>
    console.log('carregando itens')
    $(document).ready(function(){
        $('#add-item').click(function(ev){
            ev.preventDefault();
            var count = $('#estoque').children().length;
            var tmplMarkup = $('#item-estoque').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $('div#estoque').append(compiledTmpl); 
            
            $('#id_estoque-TOTAL_FORMS').attr('value', count + 1);
        })
    })
</script>
<script type="text/html" id="item-estoque">
    <div id="item-__prefix__" class="form-group" style="margin-top: 10px;">
        {{ formset.empty_form|bootstrap }}
    </div>
</script>
{% endblock js %}
