{% extends 'layout.html' %}

{% block conteudo %}

<div class="container sidebar" style="margin-top: 5px; background-color: rgb(13, 12, 12);">
    <div class="container">
      <a href="{% url 'estoque:estoque_entrada_list' %}">
        <button type="button" class="btn btn-primary">
          Voltar
        </button>
      </a>
      <h2 style="text-align: center;">{{ object }}</h2>
      <br>
      <div class="col-md-6 mx-auto">
        <table class="table table-user-information">
            <tbody style="color: white;">
                <tr>
                    <th class="text-right">Nota Fiscal</th>
                    <td>{{ object.nf_formated }}</td>
                </tr>
                <tr>
                    <th class="text-right">Data</th>
                    <td>{{ object.created }}</td>
                </tr>
                <tr>
                    <th class="text-right">Funcionario</th>
                    <td>{{ object.funcionario }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="table-responsive col-md-6  mx-auto" style="text-align: center;">
        <table class="table table-striped">
            <legend>Produtos:</legend>
            <thead style="color: white;">
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object.estoques.all %}
                <tr>
                    <td style="color: white;">{{ object.produto }}</td>
                    <td style="color: white;">{{ object.quantidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

</div>

{% endblock conteudo %}

{% block css %}
<style>
    .sidebar {
        margin-top: 10px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
</style>
{% endblock css %}
